/* 
    Author: Sam Tucker
    Purpose: Provides styling for the post page
*/

body {
    overflow: hidden;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topBar {
    height: 20%;
    width: 100%;
    background-color: lightsalmon;
    font-size: 64px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    background-color: lightblue;
    text-align: center;
}

.form-group {
    margin: 35px;
    font-size: 18px;
}

#submitButton {
    font-size: 18px;
    width: 80px;
}