/* 
    Author: Sam Tucker
    Purpose: Provides styling for the home page
*/

body {
    overflow: hidden;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topBar {
    height: 20%;
    width: 100%;
    background-color: lightsalmon;
    font-size: 64px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
    background-color: lightblue;
    align-items: center;
}

.account {
    margin: 0 auto;
}

.button {
    text-decoration: none;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 10%;
    margin: 0 auto;
    text-align: center;
}

    .button:hover {
        background-color: dodgerblue;
    }

#helpButton {
    text-decoration: none;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 10%;
    margin: 0 auto;
    text-align: center;
}

    #helpButton:hover {
        background-color: dodgerblue;
    }